@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* height: 100vh; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    margin: 1rem;
}

form {
    width: 50%;
    display: flex;
    flex-flow: column;
    /* position: absolute;
    z-index: 10; */
}

ul {
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

input {
    border-radius: 1rem;
    padding: .3rem;
    width: 100%;
    height: 2.5rem;
    font-size: .5rem;
}

button {
    font-size: .8rem;
    color:#fff;
    background-color: #e2380c;
    border: #e2380c solid 1px;
    border-radius: 1rem;
    height: 2.5rem;
    margin: .5rem;
}

button:hover {
    background-color: #fa5c34;
}

#search-term {
    display: flex;
    align-items: center;
}

.submission {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 64, 64, 0.658);
}

.logo {
    width: 80%;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.container {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.results {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#search-results { 
    margin-bottom:0;
    display: flex;
    justify-content: center;
    
} 

.cb-slideshow, .cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    
    z-index: 0;
}

.movie-results {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#imdb-results {
    padding: 2rem;
    text-align: center;
    width: 90%;
}

#imdb-results li {
    margin: .5rem;
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}
/* why aren't the images loading... */
.cb-slideshow li:nth-child(1) span { 
    background-image: url(images/endgame-vert.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(images/aladdin.jpeg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(images/back-to-the-future.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(images/inception.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(images/moonrise-kingdom.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(images/the-room.jpg);
    animation-delay: 30s; 
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

.carousel-item img{
    background-attachment: fixed;
    width: auto;
    height: 100%;
}


@media screen and (min-width: 800px) {
    input {
        padding: .5rem;
        font-size: 1rem;
    }

    .logo {
        width: 60%;
    }

    .movie-results {
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 80%;
    }

    .cb-slideshow li:nth-child(1) span { 
        background-image: url(images/endgame-large.jpg) 
    }

    .cb-slideshow li:nth-child(2) span { 
        background-image: url(images/aladdin-large.jpg);
        animation-delay: 6s; 
    }

    .cb-slideshow li:nth-child(3) span { 
        background-image: url(images/back-to-the-future-large.jpg);
        animation-delay: 12s; 
    }

    .cb-slideshow li:nth-child(4) span { 
        background-image: url(images/inception-large.jpg);
        animation-delay: 18s; 
    }

    .cb-slideshow li:nth-child(5) span { 
        background-image: url(images/moonrise-kingdom-large.jpg);
        animation-delay: 24s; 
    }

    .cb-slideshow li:nth-child(6) span { 
        background-image: url(images/the-room-large.jpg);
        animation-delay: 30s; 
    }
}
#poster-results{
    margin-left: 30%;
}
.poster-container{
    display: flex;
    align-content: space-around;
    margin-right: 10%;
}
#imdb-results{
    margin-left: 0;
}
.info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 90%;
    height: 90%;
    background-color:rgb(218, 94, 11);
    
    
}
.video-container{
    display: flex;
    justify-content: center;
    background-color:rgb(218, 94, 11);
    width: 100%;
    height: 100%;
    margin-bottom:3%;
    padding-bottom: 3rem;
    padding-top: 3%;
}



.shadow{
    max-width: 50%;
    max-height: 50%;
    margin: 0 !important;
    padding: 0 !important;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8)
}