@import url(https://fonts.googleapis.com/css?family=Open+Sans);
        /* @media only screen and (max-width: 768px) {
            [class*= "container"]{
             width: 100%;}
            [class*= "wrap"]{
                width: 100%}
            [class*="searchTerm"]{
                width: 100%;} 
            [class*="search"]{
                width: 100%;}       
            [class*= "logo"]{
                width: 100%;} 
            [class*= "box"]{
                width: 100%;} 
            [class*="random-button"]{
                width:100%;}
            [class*="search-button"]{
                width: 100%;}    
            } */

* {
  margin: 0;
  padding: 0 !important; 
  box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#main {
    margin: 0;
    padding: 0;
}

#carouselExampleFade {
    margin: 0;
    padding: 0;
}

.col-12 {
    padding: 0;
}

.carousel {
    margin: 0;
    padding: 0;
}

.carousel-fade {
    margin: 0;
    padding: 0;
}

.slide {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
    padding: 0;
}

.carousel-inner img {
    background-size: cover;
    padding: 0;
    margin: 0;
}

.box {
    background-color: #000000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16.25rem;
    z-index: 2;
}

.logo {
    height: 30%;
    z-index: 3;
}

/* body {
  height: 100vh;
  width: 100vw;
}

.logo{
    position: absolute;
    margin-left: 40%;
    top: 35%;
    z-index: 4;
} */
/* Search Box */
/* .search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(160, 4, 4);
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(99, 99, 99);
}

.searchTerm:focus{
  color: rgb(59, 59, 59);
} */

/* .searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid  rgb(160, 4, 4);
  background: rgb(160, 4, 4);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


 .wrap{
  width: 30%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.container{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    align-content: center;
    z-index: 1;
    
}

.box{
    position: absolute;
    background-color: black;
    top: 30%;
    opacity: 0.5;
    width: 100vw;
    height: 16.25rem;
    border-radius: 3px;
    z-index: 2;
}
.random-button{
    position:absolute;
    top: 60%;
    left: 45%;
    width: 100px;
    height: 30px;
    background-color:rgb(160, 4, 4);
    color: white;
    border-radius: 5px;
    border:0;
    z-index: 5;
}

.carousel-inner img{
background-size: cover;
}

.carousel-inner img {
    background-size: cover;

} */
