@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.logo{
    position: relative;
    margin-left: 40%;
    margin-top: 10%;
}
/* Search Box */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(160, 4, 4);
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(110, 110, 110);
}

.searchTerm:focus{
  color: #fff;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid  rgb(160, 4, 4);
  background: rgb(160, 4, 4);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

